<footer class="py-10 border-t border-slate-900 text-center text-slate-500 text-[10px] md:text-xs reveal px-4">
    <p>© 2026 Goyum Samuditha.</p>
    <div class="mt-4 flex justify-center space-x-6 text-lg">
        <a href="https://www.linkedin.com/in/goyum-samuditha" target="_blank" class="hover:text-accent"><i class="fab fa-linkedin"></i></a>
        <a href="https://github.com/goyumsamuditha" target="_blank" class="hover:text-accent transition"><i class="fab fa-github"></i></a>
    </div>
</footer>