<div class="flex justify-center md:justify-start space-x-4">
    <a href="https://github.com/goyumsamuditha" target="_blank" class="bg-accent hover:bg-orange-600 px-5 sm:px-8 py-3 rounded-md font-bold transition flex items-center text-xs sm:text-base">
        <i class="fab fa-github mr-2"></i> GitHub
    </a>
    <a href="https://www.linkedin.com/in/goyum-samuditha" target="_blank" class="border border-slate-700 hover:border-accent px-5 sm:px-8 py-3 rounded-md font-bold transition flex items-center text-xs sm:text-base">
        LinkedIn
    </a>
</div>